.header {
 display: flex;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-around;
    align-items: center;
  
  }
  .item{
    text-decoration: none;
  }
  .header img{
    width: 100px;

  }