.nav {
    grid-area: n;
    background-color: rgb(97, 255, 97);
  }

  .item {
      color: black;
      text-align: center;
      text-decoration: none;
  }

  .item a.active{
    color: gold;
  }
  .indent{
    margin-bottom: 30px;
}