.dialogs{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.dialogs_item{
margin-left: 300px;
width: 40%;
}

.Names{
    display: flex;
    flex-direction: column;
}
.dialog{
    margin-bottom: 20px;
}
.message{
    margin-bottom: 15px;
}
.textArea{
    width: 100%;
    height: 20px;
}